HOSTED_PORT=8040 # The exposed port on this machine 
DEV_MODE=0 # API Dev mode is a bad name (TODO: Change dev mode), it logs anyone in with a test user
ADMIN_EMAIL=first.admin@email.com

# Database configuration
DB_DATABASE=modelab_db
DB_USERNAME=api_user
DB_PASSWORD=secret
DB_SERVERNAME=modelab_db
MYSQL_ROOT_PASSWORD=root_secret
# These values don't really matter, maybe security wise?

# API Configuration
DATA_MAX_SIZE_MB=100 # What is the per file upload size limit 

# Web Configuration
VITE_CLIENT_ID=<GOOGLE_CLIENT_ID> # Google OAuth 2.0 client ID (create it here: https://console.cloud.google.com/apis/credentials) 