# Database configuration
DB_DATABASE=modelab_db
DB_USERNAME=api_user
DB_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root_secret
DB_SERVERNAME=modelab_db

# API Configuration
DEV_MODE=0
LOG_PATH=/logs
DATA_PATH=/data
DATA_MAX_SIZE_MB=100

# Web Configuration
VITE_DEV_LOGIN=0
VITE_API_PATH=api
VITE_CLIENT_ID=<GOOGLE_CLIENT_ID>