# Development options
DEV_MODE=1

# Logs configuration
LOG_PATH=/logs

# Data configuration
DATA_PATH=/data
DATA_MAX_SIZE_MB=100

# Database configuration
DB_SERVERNAME=modelab_db
DB_USERNAME=api_user
DB_PASSWORD=secret
DB_DATABASE=modelab_db